@use 'variables' as variables;

:host {
  display: block;
  max-height: calc(100vh - variables.$headerHeight - 15rem);
  min-height: 10rem;
  overflow-y: auto;
  padding-bottom: 0.5rem;
}

.form {
  padding: 0 0.25rem;
}
