:host {
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-heading {
  margin: 0;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
