@use 'variables' as variables;
@use 'breakpoints' as breakpoints;

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.app-name {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--foreground-color);
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 0;
  min-height: variables.$headerHeight;
}

@media (min-width: breakpoints.$breakpoint-md) {
  .header-content {
    justify-content: space-between;
  }
}
