input[type='text'],
select {
  height: 40px;
  width: 100%;
  background-color: var(--background-color);
  font-family: inherit;
  color: inherit;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;

  &:focus,
  &:hover,
  &:active {
    border-color: var(--focus-color);
  }

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
  }

  &.ng-invalid {
    &.ng-touched,
    &.ng-dirty {
      border-color: var(--error-color);
    }
  }
}
