:host {
  display: contents;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  color: var(--foreground-color);
}
