:host {
  display: block;
  position: sticky;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
