@use 'app/common/components/button/button.scss';
@use 'app/common/components/input/input.scss';

@use '_breakpoints.scss' as breakpoints;
@use '_layout.scss';

@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --foreground-color: #242424;
  --foreground-color-secondary: #444;
  --background-color: #fff;
  --border-color: #d1d5db;
  --focus-color: #444;
  --active-color: #4f4f4f;
  --error-color: #b91c1c;
  --focus-secondary-color: #f0f0f0;
  --active-secondary-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fafafa;
    --foreground-color-secondary: #cecece;
    --background-color: #09090b;
    --border-color: #27272a;
    --focus-color: #cecece;
    --active-color: #e0e0e0;
    --focus-secondary-color: #27272a;
    --active-secondary-color: #3f3f46;
    --error-color: #f43f5e;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
    'Helvetica Neue', Oxygen, Cantarell, sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.w-full {
  width: 100%;
}

@media (min-width: breakpoints.$breakpoint-md) {
  html {
    font-size: 16px;
  }

  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.375rem;
  }
}

.required-mark {
  color: var(--error-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
