@use 'breakpoints' as breakpoints;

form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.search-input-wrapper {
  flex-shrink: 0;
  display: block;
  max-width: 310px;
  width: 100%;
  position: relative;

  @include breakpoints.respond-to(md) {
    flex-shrink: 1;
  }

  @include breakpoints.respond-to(xs) {
    max-width: none;
  }
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  margin-top: 3px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--foreground-color-secondary);
}

.clear-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--foreground-color-secondary);
}

.search-input {
  padding-left: 2rem;
  padding-right: 3rem;
}
